@page "/"

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Index</PageTitle>

<h1>Hello, world! Counter is @counter</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    public int counter = 0;
    protected async override Task OnInitializedAsync()
    {
        counter = await localStorage.GetItemAsync<int>("counter");
    }
}
