@page "/sales"

@inherits BaseDateComponent

<h3>SalesComponent</h3>

This is the sales component!
<br />
<br />
@dateTime //inheritance from BaseDateComponent

@*<br />
<br />
<DateComponent/>*@

@code {

}
