@page "/counter"


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<br />  
<CascadingValue Name="Counter" Value=@currentCount>
    <CascadingValue Name="TitleColor" Value=@("blue ") IsFixed=true>
        <SubComponent1/>
    </CascadingValue>    
</CascadingValue>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
