
<p>
    @dateTimeNow.ToString("MM/dd/yyyy")
</p>

@code {
    DateTime dateTimeNow;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        dateTimeNow = DateTime.Now;
    }
}
