
@inherits BaseModal

<div class="card-body">
    <p>@Message</p>
</div>

<div class="row justify-content-center">
    <div class="d-flex">
        <div class="mx-auto"> 
            <button class="btn btn-danger" @onclick="ConfirmClicked"> @YesText</button>

            <button class="btn btn-light" @onclick="CancelClicked"> @CancelText</button>
        </div>
            
    </div>
</div>

@code {

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Message = parameters.GetValueOrDefault<string>("Message","No Message Found");
        YesText = parameters.GetValueOrDefault<string>("YesText","Yes");
        CancelText = parameters.GetValueOrDefault<string>("CancelText","Cancel");
        await base.SetParametersAsync(parameters);
     }

}
