@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<FieldComponent Label="Name">
    <Control>
        <input class="input" type="text" placeholder="Full Name">
    </Control>
</FieldComponent>

<FieldComponent Label="Title">
    <Control>
        <input class="input" type="text" placeholder="Title">
    </Control>
</FieldComponent>

<FieldComponent Label="Department">
    <Control>
        <input class="input" type="text" placeholder="Department">
    </Control>
</FieldComponent>

@*<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Name</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input class="input" type="email" placeholder="Recipient email">
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Title</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input class="input" type="email" placeholder="Recipient email">
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Department</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input class="input" type="email" placeholder="Recipient email">
      </p>
    </div>
  </div>
</div>*@
